/node_modules/
/.idea/modules.xml
/package-lock.json
/.idea/planeamento-api.iml
/.idea/vcs.xml
/.env
/qualidade.log
/.idea/codeStyles/codeStyleConfig.xml
/.idea/inspectionProfiles/Project_Default.
.env
/.idea/inspectionProfiles/Project_Default.xml
